@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm";
@import "susy";
@import "fonts";
@import "type";

@include establish-baseline;
@include border-box-sizing;

body {
  color: $body-font-color;
  font-family: $body-font-family;

  @include container;
  //@include susy-grid-background;

  @include at-breakpoint($break) {
    @include set-container-width;
    //@include susy-grid-background;
  }
}

header {
  text-align: center;
  margin-top: 2%;

  h1 {
    font-weight: bold;
  }

  h2 {
    @include adjust-font-size-to($normpx);
  }

  @include trailer;
}

nav {
  background-color: $nav-bg-color;
  @include border-radius($border-radius);

  ul {
    @include adjust-font-size-to($medpx);
    font-family: $heading-font-family;
    overflow: hidden;

    a {
      display: block;
      padding: 0 1em;
      text-decoration: none;

      &:hover, &.on {
        background-color: tint($nav-bg-color, 50%);
      }
    }
  }

  @include trailer;
}

[role=main] {
  @include trailer;

  > div {
    @include trailer;
  }

  .caption-wrapper {
    width: 100%;
    text-align: center;
  }

  .caption {
    background-color: $caption-bg-color;
    @include border-radius($border-radius);
    display: inline-block;
    padding: 1em;

    img {
      display: block;
      width: 100%;
      @include trailer;
    }
  }

  .video {
    text-align: center;
  }
}

@include at-breakpoint($break) {
  header {
    overflow: hidden;
    position: relative;
    text-align: left;
    white-space: nowrap;

    .hgroup {
      margin-left: 12px;
    }

    h1, h2 {
      margin-left: 5px;
    }

    img, .hgroup {
      vertical-align: middle;
      display: inline-block;
    }
  }

  nav li {
    float: left;
    border-right: 2px solid tint($nav-bg-color, 40%);
  }

  [role=main] {
    .intro {
      @include span-columns(5, $break-columns);
    }

    .video {
      @include span-columns(5 omega, $break-columns);
    }
  }
}

footer {
  @include adjust-font-size-to($smallpx);
  clear: both;
}
