// Project settings

// Colors
$blue: #01127a;

// Type
@import "sizes";
$font-face: Arial, Helvetica, sans-serif;
$base-font-size: $normpx;
$base-line-height: $medpx;

// Grid
$total-columns: 6;
$break-columns: 12;
$break: 600px 12;
$show-grid-backgrounds: true;
