h1, h2, h3, h4 {
  font-family: $heading-font-family;
}

h1 {
  @include adjust-font-size-to($xxlargepx);
  @include at-breakpoint($total-columns) { @include adjust-font-size-to($xxxlargepx); }
}

h2 {
  @include adjust-font-size-to($xlargepx);
  @include at-breakpoint($total-columns) { @include adjust-font-size-to($xxlargepx); }
}

h3 {
  @include adjust-font-size-to($largepx);
  @include at-breakpoint($total-columns) { @include adjust-font-size-to($xlargepx); }
}

h4 {
  @include adjust-font-size-to($medpx);
}

a {
  color: $blue;
  &:hover {
    text-decoration: none;
  }
}


strong { font-weight: bold; }
em { font-style: italic; }
p, ul, ol, pre { @include trailer; }
