<h1>About</h1>

<p>Doral Properties Real Estate is a company operated by father and son duo William and Daniel
Kaskel.</p>

<div class="caption about">
  <img src="/static/images/about/alfred-kaskel-award.jpg" alt="Showing off award">
  Alfred Kaskel winning an award.
</div>

<p>The Kaskel family real estate portfolio dates back to the Great Depression. In 1950, Alfred
Kaskel purchased 2,400 acres of swampland in northwest Miami-Dade County. In 1962, Alfred and his
wife Doris opened the Doral Hotel and Country Club. Today, this area has become the City of
Doral. Interestingly, the name Doral comes from a combination of the founding pair's
names: <strong>Dor</strong>is and <strong>Al</strong>fred.</p>

<h2>Daniel Kaskel</h2>

<p>Daniel is a 2011 graduate of the University of Arizona with a Bachelor of Arts in Psychology and
Business Administration. Daniel started working during in his sophomore year at a student housing
apartment complex. After immersing himself into the everyday operations of apartment management,
Daniel was promoted from a Community Assistant to Leasing Manager at the onset of his senior
year. Since graduating, he has served as an Associate for Doral Properties where he aims to make his
mark on the local real estate market.</p>

<h2>William Kaskel</h2>

<p>William has been an active Real Estate player in South Florida for over 25 years. After
graduating magna cum laude with a Bachelor of Arts in Economics from Tufts University, he spent the
next two years working for Chase Manhattan Bank N.A. By the second year, he was the commercial real
estate department's primary lending officer for the New England region. Shortly after, William moved
to South Florida to work for Carol Management Corporation (New York City based parent of all Doral's
holdings) as Chief Executive Officer for the Florida division.</p>
