<div class="fb-like" data-href="https://www.facebook.com/DoralFarmersMarket" data-layout="button_count" data-action="like" data-share="true"></div>

<h1>Doral Farmers' Market</h1>

<ul>
  <li><strong>When?</strong> Sundays 9am - 2pm</li>
  <li><strong>Where?</strong> <a href="https://www.google.com/maps/preview#!q=9525-9655+NW+41+St+Miami&data=!4m15!2m14!1m13!1s0x88d9b958f7df99e3%3A0xed2a7b3316b5a857!3m8!1m3!1d142059!2d-80.2310802!3d25.782324!3m2!1i965!2i949!4f13.1!4m2!3d25.812485!4d-80.35194">Doral Centre 9525-9655 NW 41 St
      (between Walgreenss & McDonalds)</a></li>
</ul>

<div class="flexslider">
  <ul class="slides">
    <li><img src="/static/images/farmers-market/show/lo1.jpg" alt=""></li>
    <li><img src="/static/images/farmers-market/show/lo2.jpg" alt=""></li>
    <li><img src="/static/images/farmers-market/show/lo3.jpg" alt=""></li>
    <li><img src="/static/images/farmers-market/show/lo4.jpg" alt=""></li>
    <li><img src="/static/images/farmers-market/show/lo5.jpg" alt=""></li>
    <li><img src="/static/images/farmers-market/show/lo6.jpg" alt=""></li>
  </ul>
</div>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $('.flexslider').flexslider({ animation: 'slide' });
</script>
