<div class="caption-wrapper">
  <div class="caption">
    <img src="/static/images/properties/9690.jpg" alt="9690">
    <a href="http://www.doral9690.com">Doral 9690 Plaza</a> - Under construction
  </div>
</div>
<div class="intro">
  Doral Properties Real Estate is the premiere bespoke development company in Doral, Florida.
  Founded in 1983 by William Kaskel, the company's knowledge of the Doral area predates the city's
  founding and its construction experience is second to none.
</div>
<div class="video">
  <!-- <iframe width="430" height="242" allowfullscreen frameborder="0" src="http://www.youtube.com/embed/60DofpEzi4c?list=UUoK6w4O6kB5tQmJHAPKRQGw"></iframe> -->
</div>
