<div class="intro-left">
  <h1>Welcome</h1>
  Doral Properties Real Estate is the premiere bespoke development company in Doral, Florida.
  Founded in 1983 by William Kaskel, the company's knowledge of the Doral area predates the city's
  founding and its construction experience is second to none.

  <div class="social-links">
    <a href="https://twitter.com/DoralProperties">
      <img src="/static/images/logo/twitter-light.png" alt="Twitter logo" width="75" height="75">Follow Doral Properties on Twitter!
    </a>
  </div>
</div>
<div class="intro-right caption">
  <img src="/static/images/properties/9690.jpg" alt="9690">
  <a href="http://www.doral9690.com">Doral 9690 Plaza</a>
</div>
<div class="history">
  <h2>Historical Images</h2>
  <p>
    Enjoy these early historical postcards of Doral, the legendary Miami hotel built
    by visionary <a href="/page/about">Alfred Kaskel</a>.
  </p>
  <div class="caption">
    <img src="/static/images/about/doral-hotel1.jpg" alt="Doral Hotel" width="396">
    A postcard of the Doral Hotel and Country Club
  </div>
  <div class="caption">
    <img src="/static/images/about/doral-hotel2.jpg" alt="Doral Hotel" width="396">
    Another postcard of the main building at the Doral Hotel and Country Club
  </div>
</div>


<div class="video">
  <!-- <iframe width="430" height="242" allowfullscreen frameborder="0" src="http://www.youtube.com/embed/60DofpEzi4c?list=UUoK6w4O6kB5tQmJHAPKRQGw"></iframe> -->
</div>
