<h1>Properties</h1>

<p>For the past thirty years, Doral Properties has been involved with numerous developments around
Miami-Dade County. Today, the company owns and operates two key properties in the heart of Doral,
Florida.</p>

<h2>Doral 9690 Plaza</h2>

<div class="flexslider">
  <ul class="slides">
    <li><img src="/static/images/properties/9690/hi1.jpg" alt=""></li>
    <li><img src="/static/images/properties/9690/hi3.jpg" alt=""></li>
    <li><img src="/static/images/properties/9690/hi4.jpg" alt=""></li>
    <li><img src="/static/images/properties/9690/hi5.jpg" alt=""></li>
    <li><img src="/static/images/properties/9690/hi2.jpg" alt=""></li>
    <li><img src="/static/images/properties/9690/hi6.jpg" alt=""></li>
    <li><img src="/static/images/properties/9690/hi7.jpg" alt=""></li>
  </ul>
</div>

<p>Doral 9690 Plaza is a 13,500 square foot strip center located at the intersection of Doral
Boulevard (NW 41 Street) & NW 97 Avenue. Doral Properties acquired this 77,972 square foot piece of
land in 2000 and leased a 27,000 square foot office building to the Miami-Dade County Police
Department. The lease ended in 2009.</p>

<p>A couple years later Doral Properties demolished the existing building and re-positioned the
property into a shopping center featuring eight new businesses. From east to west, tenants include:
Total Bank, Bortöv, BlackStone, Lollipop, Puppies World, Smoothie King, Giraffas, and Einstein Bros
Bagels. Doral 9690 Plaza is 100% leased; tenant build-outs are expected to be complete in December
2013.</p>


<h2>Doral Centre</h2>

<iframe class="property-location" frameborder="0" scrolling="no" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9525-9655+NW+41st+St,+Doral,+FL+33178,+USA&amp;sll=37.0625,-95.677068&amp;sspn=56.331468,81.210938&amp;ie=UTF8&amp;hq=&amp;hnear=9525-9655+NW+41st+St,+Doral,+Miami-Dade,+Florida+33178&amp;t=m&amp;ll=25.812486,-80.351944&amp;spn=0.02318,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

<p>This property is nestled in the heart of the City of Doral. It is prominently located on Doral
Boulevard (NW 41st St) & NW 97th Avenue, midway between the Florida Turnpike and the Palmetto
Expressway (S.R 826). This 35,000 square-foot single-story shopping center boasts excellent exposure
to NW 41st Street and draws crossover traffic from customers visiting the two Doral Centre
out-parcel stores, Walgreens and McDonald's.

<p>The mall features 237 parking spaces – 6.8 spaces per 1,000 square feet. Anchored by Pediatric
Associates, the wide range of service related businesses at the property appeal to the area's
daytime affluent population of 150,000.</p>

<div class="caption-wrapper">
  <div class="caption">
    <img src="/static/images/properties/doral-centre-overview.jpg" alt="Doral Centre Site Overviwe">
    Doral Centre Overview
  </div>
</div>

<script>
  $('.flexslider').flexslider({ animation: 'slide' });
</script>
