<h1>Properties</h1>

<p>For the past thirty years, Doral Properties has been involved with numerous developments around
Miami-Dade County. Today, the company owns and operates two key properties in the heart of Doral,
Florida.</p>

<h2>Doral Centre</h2>

<iframe style="float:right;margin-left:1em;" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=9525-9655+NW+41st+St,+Doral,+FL+33178,+USA&amp;sll=37.0625,-95.677068&amp;sspn=56.331468,81.210938&amp;ie=UTF8&amp;hq=&amp;hnear=9525-9655+NW+41st+St,+Doral,+Miami-Dade,+Florida+33178&amp;t=m&amp;ll=25.812486,-80.351944&amp;spn=0.02318,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

<p>This property is nestled in the heart of the City of Doral. It is prominently located on Doral
Boulevard (NW 41st St) & NW 97th Avenue, midway between the Florida Turnpike and the Palmetto
Expressway (S.R 826). This 35,000 square-foot, L-shaped, single-story shopping center boasts
excellent exposure to NW 41st Street and draws crossover traffic from customers visiting the two
Doral Centre out-parcel stores, Walgreens and McDonald's. It features 237 parking spaces – 6.8
spaces per 1,000 square feet. Anchored by Pediatric Associates, the wide range of service related
businesses at the property appeal to the area's daytime affluent population of 150,000.</p>
