.welcome {
  overflow: hidden;
}

.social-links {
  margin-top: 1em;

  img {
    vertical-align: middle;
  }
}

.feature {
  h2 {
    display: inline-block;
    margin-right: 1em;
  }
}

@include at-breakpoint($break) {
  .intro-left {
    @include span-columns(5, $break-columns);
  }

  .intro-right {
    @include span-columns(5 omega, $break-columns);
  }
}
