.twitter-link {
  display: none;
  float: right;

  a, img {
    vertical-align: middle;
  }
}

.feature {
  h2 {
    display: inline-block;
    margin-right: 1em;
  }

  .more {
    font-size: 1.4em;
    margin-top: 10px;

    p {
      margin: 0 0 1em 0;
    }

    img {
      margin-bottom: 1em;
    }
  }
}

@include at-breakpoint($break) {
  .twitter-link {
    display: inline-block;
  }

  .feature {
    .farmers-market-banner {
      float: right;
      text-align: center;
    }

    .find-out-more {
      font-size: 1.4em;
    }
  }
}
